/*ANCHOR MENU HAMBURGUER*/

.btn-menu {

  /* padding: 10px 20px; */
  text-align: right;
  box-sizing: border-box;
  display: none;
}


@media (min-width: 1024px) {
  /* ANCHOR PARA O MENU */

  .section1 .header-menu { 
    display: flex;
    width: initial;
    height: initial;
  }

  .section1 .right-menu {
    display: flex;
  }


  /* ANCHOR FIM MENU */
}

@media (max-width: 1023px) {

  /*MENU MOBILE BUTTON */

  .section1 .btn-menu {
    display: block;
  }

  .section1 .left-menu {
    width: 100%;
    justify-content: space-between;
  }

  .section1 .right-menu {
    display: none;
  }

  .section1 .right-menu a {
    padding-right: 0px;
    margin-bottom: 15px;
    padding-bottom: 10px;
    font-size: 2.1rem;
    border-bottom-width: 1px;
    border-bottom-color: #000;
    border-bottom-style: solid;
  }

  .section1 .right-menu a:first-child {
    padding-top: 20px;   
  }
    
  .section1 .header-menu {
    align-items: initial;
    flex-direction: row;
  }

  .section1 .right-menu {
    flex-direction: column;
    text-align: center;
  }

  /* NORMAL CONFIG */
  .s2-content img {
    width: 300px;
  }

  .s2-content {
    text-align: center;
    flex-direction: column;
  }

  .section3 {
    height: 100%;
  }

  .s3-content {
    padding: 20px 0px 20px;
    flex-direction: column;
    text-align: center;
  }

  .s3-img-container {
    padding-top: 20px;
    position: relative;
    right: 0%;
    top: 0;
    transform: translateY(0%);
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  #back-to-top-btn img {
    width: 13px;
  }

  .section1 .monitorimg {
    width: 400px;
  }

  .s2-content {
    text-align: center;
    flex-direction: column;
  }

  .s2-content img {
    width: 250px;
  }

  .s3-img-container img{
    height: 30vh;
  }
}

@media (max-width: 630px) {

  .section1 .monitorimg {
    width: 300px;
  }

  .s2-content img {
    width: 180px;
  }
}